#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en]=mate-panel-launcher
Exec=python3 /home/odroid/Desktop/ericWorkspace/Python/LOG/ReadLog/Read.py
Name[en]=Convert
Name=Convert
Icon=mate-panel-launcher
